.container{

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: 40%;
    background: #fbf7e3;
    align-items: stretch;
    border-radius: 30px;
}



.chart{
   display: flex;
    justify-content: space-around;
    align-items: center;
}
.container img{

    width: 100%;
   margin: auto;
  
}

#button{
    margin-bottom: 10px;
   

}
.button button{

    background-color: #f3df85;
    border: 0;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 0.8rem;
    color: #5f230a;
}
p{
    color: #5f230a;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}


